.beat::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.beat {
  position: relative;
  width: 30%;
  margin: 30px auto;
  border-radius: 10%;
  cursor: pointer;
}

.miniBeatStyle {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


@media only screen and (min-width: 1050px) {
  .beat {
    margin: 20% auto;
  }
}

@media only screen and (min-width: 1400px) {
  .beat {
    margin: 15% auto;
  }
}

@media only screen and (min-width: 1600px) {
  .beat {
    margin: 50px auto;
  }
}

@media only screen and (max-width: 410px) {
  .beat {
    width: 50%;
    margin: 15px auto;
  }
}