@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.content {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 10px #eff, 0 0 12px 12px #0ff;
    color: white;
    font-size: 2vw;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    text-shadow: 3px 3px 3px #0ff;
    background: transparent;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.infoIcon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-info {
    width: 50%;
}

.text {
    width: 50%;
}


@media only screen and (max-width: 800px) {
    .content {
        font-size: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .icon-info {
        width: 30%;
    }

    .text {
        width: 70%;
    }

    .slider-img {
        width: 100%;
        height: auto;
    }

}